name: flutter_ble_poc
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_blue_plus: ^1.34.5

dev_dependencies:
  flutter_test:
    sdk: flutter
flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
